<html>
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<!-- <label style="margin-left : 50px;"> -->
	<!-- Profile page -->
	<!-- </label> -->
	<div class="container">
		<h2 style="margin-left: 440px;">Profile page</h2>
		<p style="margin-left: 479px;">
			<a href="/user/dashboard">Dashboard</a>
		</p>
		<p style="margin-left: 490px;">
			<a href="/user/logout">Logout</a>
		</p>
		<p style="margin-left: 458px;">
			<a href="/user/changePassword" method="get">Change-Password</a>
		</p>
		<p style="margin-left: 458px;">
			<a href="/user/friendRequest" method="get">Friend Requests</a>
		</p>
		</p>
		<p style="margin-left: 458px;">
			<a href="/user/myfriends" method="get">My Friends</a>
		</p>
		
		<p th:text="${message}" style="color: red;"></p>
		<br />
		<br />
		<!-- <h1>My All Information</h1> -->
		<div class="row">
			<div class="col-sm-5" style="text-align: right;">
				<b>Profile Image</b> :
			</div>
			<div class="col-sm-7">
				<img th:src="'/getImage?name=' + ${user.imageName}" width="100"
					height="100" />
			</div>
		</div>
		<!-- <span>First Name : </span> -->
		<!-- <span th:text="${user.firstName}"></span></br></br> -->
		<div class="row">
			<div class="col-sm-5" style="text-align: right;">
				<b>First Name</b> :
			</div>
			<div class="col-sm-7" th:text="${user.firstName +' '+user.lastName}" /></div>
		</div>
		<br />
		<!-- <span>Last Name : </span> -->
		<!-- <span th:text="${user.lastName}"></span></br></br> -->
		<div class="row">
			<div class="col-sm-5" style="text-align: right;">
				<b>Last Name</b> :
			</div>
			<div class="col-sm-7" th:text="${user.lastName}" /></div>
		</div>
		<br />

		<!-- <span>Email : </span> -->
		<!-- <span th:text="${user.email}"></span></br></br> -->
		<div class="row">
			<div class="col-sm-5" style="text-align: right;">
				<b>Email</b> :
			</div>
			<div class="col-sm-7" th:text="${user.email}" /></div>
		</div>
		<br />

		<!-- <span>Password : </span> -->
		<!-- <span th:text="${user.password}"></span></br></br> -->
		<div class="row">
			<div class="col-sm-5" style="text-align: right;">
				<b>Password</b> :
			</div>
			<div class="col-sm-7" th:text="${user.password}" /></div>
		</div>
		<br />

		<!-- <span>Confirm Password : </span> -->
		<!-- <span th:text="${user.confirmPassword}"></span></br></br> -->
		<div class="row">
			<div class="col-sm-5" style="text-align: right;">
				<b>Confirm Password</b> :
			</div>
			<div class="col-sm-7" th:text="${user.confirmPassword}" /></div>
		</div>
		<br />

		<!-- <span>Gender : </span> -->
		<!-- <span th:text="${user.gender}"></span></br></br> -->
		<div class="row">
			<div class="col-sm-5" style="text-align: right;">
				<b>Gender</b> :
			</div>
			<div class="col-sm-7" th:text="${user.gender}" /></div>
		</div>
		<br />

		<!-- <span>Hobby  : </span> -->
		<!-- <span th:text="${str}"></span></br></br> -->
		<div class="row">
			<div class="col-sm-5" style="text-align: right;">
				<b>Hobby</b> :
			</div>
			<div class="col-sm-7" th:text="${str}" /></div>
		</div>
		<br />

		<!-- <span>City : </span> -->
		<!-- <span th:text="${user.city}"></span></br></br> -->
		<div class="row">
			<div class="col-sm-5" style="text-align: right;">
				<b>City</b> :
			</div>
			<div class="col-sm-7" th:text="${user.city}" /></div>
		</div>
		<br />

		<!-- <span>State : </span> -->
		<!-- <span th:text="${user.state}"></span></br></br> -->
		<div class="row">
			<div class="col-sm-5" style="text-align: right;">
				<b>State</b> :
			</div>
			<div class="col-sm-7" th:text="${user.state}" /></div>
		</div>
		<br />

		<!-- <span>Country : </span> -->
		<!-- <span th:text="${user.country}"></span></br></br> -->
		<div class="row">
			<div class="col-sm-5" style="text-align: right;">
				<b>Country</b> :
			</div>
			<div class="col-sm-7" th:text="${user.country}" /></div>
		</div>
		<br />

		<!-- <span>Address : </span> -->
		<!--  <p th:each="address : ${user.userAddress}" th:text="${address.address}"></p></br></br> -->
		<div class="row">
			<div class="col-sm-5" style="text-align: right;">
				<b>Address</b> :
			</div>
			<div class="col-sm-7">
				<div th:each="address : ${user.userAddress}"
					th:text="${address.address}" /></div>
			</div>
		</div>

	</div>
	<script th:src="@{/js/profile.js}"></script>
</body>
</html>